#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.pokemon {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.pokemon:hover {
  filter: drop-shadow(0 0 2em #e7cbff);
}
.pokemon.charmander:hover {
  filter: drop-shadow(0 0 2em #f97e00);
}
.pokemon.bulbassauro:hover {
  filter: drop-shadow(0 0 2em #9efbe6);
}
.pokemon.squirtle:hover {
  filter: drop-shadow(0 0 2em #80ecff);
}
.pokemon.pikachu:hover {
  filter: drop-shadow(0 0 2em #f8ca00);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

